[Unit]
Description=Flask web service

[Service]
Type=simple
WorkingDirectory=/home/user/Documents/SprintML+Telegram

ExecStart=/home/user/Documents/SprintML+Telegram/flask.sh start
RemainAfterExit=true
ExecStop=/home/user/Documents/SprintML+Telegram/flask.sh stop
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
